.pomodoro{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 80vw;
    background-color: #d81d1dc7;
}
.pomodoro__titulo{
    font-size: 2rem;
    color: #fff;
    margin-bottom: 20px;
    background-color: #f1aaaa98;
    padding: .5rem;
    text-align: center;
    width: 50%;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 2.5rem;
}
.pomodoro__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f1aaaa98;
    color: white;
    width: 50%;
    height: 50%;
    padding: 1.5rem;
    box-sizing: border-box;
    border-radius: 3px;
}
.pomodoro__main--tempo{
    font-size: 3rem;
    margin-bottom: 20px;
    color: #fff;
}
.pomodoro__main--botoes{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.pomodoro__botoes--botao{
    display: block;
    width: 45%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    background-color: #2f2f4f;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.pomodoro__botoes--botao:hover{
    background-color: #3f3f4f;
}

.pomodoro__option{
    background-color: #2f2f4f;
    position: fixed;
    top: 10px;
    right: 10px;
    background: none;
    display: flex;
    flex-direction: column;
    
}
.pomodoro__btn--option{
    position: fixed;
    top: 10px;
    right: 10px;
}
.pomodoro__option--menu{
    display: none;
    flex-direction: column;
    background-color:#f1aaaa98;
    padding: 1rem;
    border-radius: .3rem;
    color: #fff;
    width: 70%;
    margin-left: 5rem;
    margin-top: 2rem;
    font-family: 'Times New Roman', Times, serif;
   
}
.menu__div{
    display: flex;
    flex-direction: column;
    
}
.menu__div div{
    display: flex;
    justify-content: space-between;
    padding-bottom: .3rem;
}
.menu__div--titulo{
    text-align: center;
    font-weight: 700;
}
.menu__div div input{
    border: 1px solid #d81d1dc7;
    background: none;
    border-radius: .3rem;
    padding: .2rem;
}
.menu__div--interval{
    margin-top: .4rem;
}
.menu__div--interval::before{
    content: "";
    width: 70%;
    height: .1rem;
    position: absolute;
    background-color:#d81d1dc7 ;

}